<?xml version="1.0" encoding="UTF-8"?>
<configuration
    debug="false"
    scan="true"
    scanPeriod="30 seconds"
    xmlns="ch.qos.logback"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="ch.qos.logback /META-INF/logback/logback.xsd">
    
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>
    
    <conversionRule conversionWord="toolEx" converterClass="gov.hhs.onc.dcdt.logback.pattern.ToolThrowableProxyConverter"/>
    <conversionRule conversionWord="toolP" converterClass="gov.hhs.onc.dcdt.logback.pattern.color.ToolPriorityConverter"/>
    
    <property name="dcdt.tomcat.log.file.name" value="${dcdt.tomcat.log.file.name:-${CONTEXT_NAME}}" scope="context"/>
    <property name="dcdt.tomcat.log.file.ext" value="${dcdt.tomcat.log.file.ext:-.log}" scope="context"/>
    
    <appender name="console-tomcat" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%toolP(%p) - %m%n%toolEx</pattern>
        </encoder>
        <target>System.out</target>
        <withJansi>true</withJansi>
    </appender>
    
    <if condition='isDefined("dcdt.tomcat.log.dir") &amp;&amp; !new java.io.File(p("dcdt.tomcat.log.dir")).isFile()'>
        <then>
            <appender name="file-tomcat" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${dcdt.tomcat.log.dir}/${dcdt.tomcat.log.file.name}${dcdt.tomcat.log.file.ext}</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${dcdt.tomcat.log.dir}/${dcdt.tomcat.log.file.name}.%d{yyyy-MM-dd}.%i${dcdt.tomcat.log.file.ext}</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>50MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                </rollingPolicy>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%d{yyyy-MM-dd HH:mm:ss z} [%C:%L %t] %p - %m%n%toolEx</pattern>
                </encoder>
            </appender>
        </then>
        <else>
            <appender name="file-tomcat" class="gov.hhs.onc.dcdt.logback.NoOpAppender"/>
        </else>
    </if>
    
    <root level="info">
        <appender-ref ref="console-tomcat"/>
        <appender-ref ref="file-tomcat"/>
    </root>
</configuration>