<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration
	debug="false"
	threshold="all"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<appender name="certDiscoveryApp" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8"/>
		<param name="immediateFlush" value="true"/>
		<param name="target" value="System.out"/>
		<param name="threshold" value="all"/>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%C %t] %p - %m%n"/>
		</layout>
	</appender>
	
	<appender name="emailMessageApp" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8"/>
		<param name="immediateFlush" value="true"/>
		<param name="target" value="System.out"/>
		<param name="threshold" value="all"/>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%C %t] %p - %m%n"/>
		</layout>
	</appender>
	
	<logger name="certDiscoveryLogger" additivity="false">
		<level value="all"/>
		<appender-ref ref="certDiscoveryApp"/>
	</logger>
	
	<logger name="emailMessageLogger" additivity="false">
		<level value="all"/>
		<appender-ref ref="emailMessageApp"/>
	</logger>
	
	<logger name="org.apache" additivity="false">
		<level value="error"/>
		<appender-ref ref="certDiscoveryApp"/>
	</logger>
	
	<root>
		<level value="all"/>
		<appender-ref ref="certDiscoveryApp"/>
	</root>
</log4j:configuration>