.medFont
{
	font-size: .7em
}

.textTop
{
	font-size: .9em;
	line-height: .1em;
}

.textEmail
{
    font-family: monospace;
	margin: 0 0 0 170px;
}
	
.blue
{
	background: #049cdb;
}

.warning
{
	line-height: 1.1em;
	font-size: 75%; 
	padding: 4px
}

a.mail:link
{
	color: #0000ff;
	background-color: transparent;
	text-decoration: none;
	font-weight: 600
}

.error
{
	color: rgb(200, 0, 0);
}

div#version
{
	text-align: center;
	color: rgb(150, 150, 150);
	font-size: 90%;
}

span#versionLink
{
	font-size: 110%;
	font-weight: bold;
}

span.versionPartLabel
{
	font-weight: bold;
}

span.versionPartUnknown
{
	font-style: italic;
}

span.testcaseCommentsLabel
{
	font-weight: bold;
}

div#resultsNone
{
	font-style: italic;
}

span.resultItemLabel
{
	font-weight: bold;
}
