<?xml version="1.0" encoding="UTF-8"?>
<web-app
	version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>@{project.name}</display-name>
	
	<!--====================================================================================================
	= SERVLET: DEFAULT
	=====================================================================================================-->
	<!--========== SERVLET MAPPING: STYLES ==========-->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.css</url-pattern>
	</servlet-mapping>
	<!--========== SERVLET MAPPING: SCRIPTS ==========-->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.js</url-pattern>
	</servlet-mapping>
	<!--========== SERVLET MAPPING: IMAGES ==========-->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>*.png</url-pattern>
	</servlet-mapping>
	<!--========== SERVLET MAPPING: JSP ==========-->
	<servlet-mapping>
		<servlet-name>default</servlet-name>
		<url-pattern>/error.jsp</url-pattern>
	</servlet-mapping>
	
	<!--====================================================================================================
	= SERVLET: ACTION
	=====================================================================================================-->
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<!--========== SERVLET MAPPING: ALL ==========-->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<!--====================================================================================================
	= LISTENER: CONTEXT
	=====================================================================================================-->
	<listener>
		<listener-class>gov.hhs.onc.dcdt.web.startup.Listener</listener-class>
	</listener>
</web-app>