<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:c="http://www.springframework.org/schema/c"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
    
    <beans:bean id="toolBeanPropPlaceholderConfigurerInstance" parent="toolBeanPropPlaceholderConfigurerImpl">
        <beans:property name="locations">
            <beans:array merge="true">
                <beans:value>classpath*:META-INF/service/dns/service-dns.properties</beans:value>
                <!--suppress SpringModelInspection -->
                <beans:value>classpath*:service/dns/service-dns.properties</beans:value>
                <beans:value>classpath*:META-INF/service/ldap/service-ldap.properties</beans:value>
                <!--suppress SpringModelInspection -->
                <beans:value>classpath*:service/ldap/service-ldap.properties</beans:value>
                <beans:value>classpath*:james-database.properties</beans:value>
                <beans:value>classpath*:mailbox-maildir.properties</beans:value>
                <beans:value>classpath*:META-INF/service/mail/service-mail.properties</beans:value>
                <!--suppress SpringModelInspection -->
                <beans:value>classpath*:service/mail/service-mail.properties</beans:value>
                <!--suppress SpringModelInspection -->
                <beans:value>classpath*:web/web.properties</beans:value>
            </beans:array>
        </beans:property>
    </beans:bean>
</beans:beans>