Package: [[project.artifactId]]
Version: [[version]]
Architecture: all
Depends: ant (>= 1.7), apacheds (>= 2.0.0), oracle-java7-jdk, oracle-java7-jre, tomcat7 (>= 7.0)
Section: contrib/java
Priority: optional
Maintainer: Michal Kotelba <michal.kotelba@esacinc.com>
Description: Direct Certificate Discovery Tool (DCDT) assembly Debian package.
Homepage: http://code.google.com/p/direct-certificate-discovery-tool/
 
