/*html, body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #ffe }
body {
	font-size: 75%;
	background-image: url() }
img {
	border: 0px none;
	padding: 2px }
h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	font-family: "Century Gothic", Helvetica, sans-serif;
	font-size: 1.4em;
	font-weight: 700;
	color: #003366;
	background-color: transparent }
h2 {
	margin: 0px 0px 5px 0px;
	padding: 0px;
	font-family: "Century Gothic", Helvetica, sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	color: #003366;
	background-color: transparent }
	
	hbanner {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	width: 100%;
	height:63px;
	line-height:11px;
	background-image : url();
	background-repeat : no-repeat;
	z-index: 2;
}
#hmain {
	position: absolute;
	top: 95px;
	left: 20px;
	right: 20px;
	z-index: 4;
}
.instructions {
	font-size : 117%;
}
.lgFont {
	font-size: 1.3em 
}
a.ssub {
	font-family:verdana, arial, helvetica, sans-serif;
	font-size: 90%;
	color:#000099;
	text-decoration:none;
}
a.ssub:link {
	color:#000099;
	text-decoration:none;
}
a.ssub:visited {
	color:#000099;
	text-decoration:none;
}
a.ssub:hover {
	color:#000099;
	text-decoration:none;
}
.rAlign {
	text-align: right
}
.exFont {
	font-size: 2.3em 
}
.invisible {
	visibility:hidden;
}
.visible {
	visibility:visible;
}
.prompt
{
	padding-top: .5em;
}
table
{
  border-collapse: collapse;
  border-spacing: 0;
}
td.solid 
{
  border: solid black 1px;          
} 

td {
	font-size: 1em }
th {
	font-weight: 500 }
p {
	margin: 0px;
	padding: 0px 0px 10px 0px }
a {
	color: #0000ff;
	background-color: transparent;
	text-decoration: underline;
	font-weight: 500 }
a:link {
	color: #0000ff;
	background-color: transparent }
a:visited {
	color: #800080;
	background-color: transparent;
	text-decoration: underline;
	font-weight: 500 }
a:hover {
	color: #ff0000;
	background-color: transparent;
	text-decoration: underline }
a.mail {
	color: #0000ff;
	background-color: transparent;
	text-decoration: none;
	font-weight: 600 }
a.mail:link {
	color: #0000ff;
	background-color: transparent;
	text-decoration: none;
	font-weight: 600 }
a.mail:visited {
	color: #0000ff;
	background-color: transparent;
	text-decoration: none;
	font-weight: 600 }
a.mail:hover {
	color: #0000ff;
	background-color: transparent;
	text-decoration: none;
	font-weight: 600 }
a.menu {
	color: #009;
	background-color: #e2eaf8;
	text-decoration: none }
a.menu:link {
	color: #009;
	background-color: #e2eaf8 }
a.menu:visited {
	color: #009;
	background-color: #e2eaf8 }
a.menu:hover {
	color: #009;
	background-color: #e2eaf8 }
a.name {
	color: #333333;
	background-color: transparent }
hr {  
	border: 0;
  	height: 1px;
	width: 98%;
	color: #3399cc;
	background-color: transparent;
	clear: both }
input.submit {
	background-color: #e2eaf8;
	color: #333;
	border-color: #92b0dd #36c #36c #92b0dd;
	padding: 4px 5px 2px 5px;
	margin: 5px 20px 5px 20px;
	font-weight: bold;
	font-size: 90% }
#banner {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100%;
	height: 63px;
	line-height: 11px;
	background-image: url(banner.gif);
	background-repeat: no-repeat }
#tmenu {
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 2px 0px;
	height: 15px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	color: #009;
	background-color: #e2eaf8;
	text-align: right }
#smenu {
	float: right;
	padding: 0;
	margin: 0;
	text-decoration: none }
#smenu ul {
	list-style: none;
	padding: 0;
	margin: 0 }
#smenu li {
	margin: 0;
	padding: 2px }
#smenu a {
	display: block;
	border: #ccc 1px solid; 
	margin: 0px; 
	padding: 2px 5px 2px 5px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	background: #e2eaf8; 
	color: #000099 }
#smenu a:hover {
	display: block;
	border: #ccc 1px solid; 
	margin: 0px; 
	padding: 2px 5px 2px 5px;
	font-family: Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold; 
	background: #f6f9ff; 
	color: #000099 }
a.smenu {
	font: bold 1.1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000099;
	background-color: #e2eaf8;
	text-decoration: none;
	line-height: 20px }
a.smenu:link {
	font: bold 1.1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000099;
	background-color: #e2eaf8;
	text-decoration: none;
	line-height: 20px }
a.smenu:visited {
	font: bold 1.1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000099;
	background-color: #e2eaf8;
	text-decoration: none;
	line-height: 20px }
a.smenu:hover {
	font: bold 1.1em Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #000099;
	background-color: #e2eaf8;
	text-decoration: none;
	line-height: 20px }
#smenu ul ul {
	list-style: none;
	border: #ccc 1px solid; 
	margin-top: 0px;
	padding: 0px 0px 2px 0px }
* html #smenu ul ul {
	margin-top: -12px }
#main {
	padding: 10px }
p.lnav {
	float: left;
	width: 32%;
	padding-left: 2% }
p.nav {
	float: left;
	width: 32%;
	text-align: center }
p.rnav {
	float: left;
	width: 32%;
	text-align: right;
	padding-right: 2% }
td.white {
	color: #333333;
	background-color: #ffffff }
.noBullet {
	list-style: none;
	padding: 0px 0px 10px 10px;
	margin: 0 }
.error {
	font-size: 117%;
	font-weight: 800;
	color: #cc0000;
	background-color: transparent }
.warning {
	line-height: 1.1em;
	font-size: 75%; 
	padding: 4px }
.notice {
	border-width: thin;
	border-style: solid;
	padding: 5px 5px 5px 5px }
.center {
	text-align: center }
.underline {
	text-decoration: underline }
.smRed {
	font-size: .8em;
	color: #ff0000;
	background-color: transparent }
.lgRed {
	font-size: 1.5em;
	color: #ff0000;
	background-color: transparent }
.Red {
	color: #ff0000;
	background-color: transparent }
.paleBlueBG {
	color: #333333;
	background-color: #e2eaf8 }
.smFont {
	font-size: .8em }
.medFont {
	font-size: 1.1em }
	
	*/
	html, body {
	font-size: 100%;
	font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
	 }
body {
	font-size: 75%;
	font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;	
 }
	
/* Vertical Menu bar*/
#navigation {font-size:0.95em; width:175px;}
    #navigation ul {margin:0; padding:0;}
    #navigation li {list-style: none;}
    
   ul.top-level {background:#A4A4A4;}
   ul.top-level li {
    border-bottom: #fff solid;
    border-top: #fff solid;
    border-width: 1px;
   }

    #navigation a {
     color: #fff;
     cursor: pointer;
     display:block;
     height:25px;
     line-height: 25px;
     text-indent: 10px;                   
     text-decoration:none;
     width:100%;
    }
    
    #navigation a:hover{
     text-decoration:underline;
    }

    #navigation li:hover {
     background: #58ACFA;
     position: relative;
    }
    
    
    ul.sub-level {
     display: none;
    }

    li:hover .sub-level {
     background: #999;
     border: #fff solid;
     border-width: 1px;
     display: block;
     position: absolute;
     left: 120px;
     top: 5px;
    }
    
    ul.sub-level li {
     border: none;
     float:left;
     width:250px;
    }

/*Seconda Level if we needed*/
    #navigation .sub-level {
     background: #999;
    }

/*Third Level if we needed*/
    #navigation .sub-level .sub-level {
     background: #09C;
    }

/*RESET STYLES*/
     li:hover .sub-level .sub-level {
	 display:none;
   }
    .sub-level li:hover .sub-level {
	 display:block;
}

.medFont {
	font-size: .7em }
.textFont{
    font-family:"Times New Roman";
	font-size: .7em 
	
}
.textTop {
	font-size: .7em;
	line-height: .1em;
	color: #cc0000; }
.textEmail {
	font-size: 1.2em;
    font-family:"Times New Roman";
    text-align: center;
 }
	
.blue {
	/**background: #58ACFA;**/
	background: #049cdb;
}
.warning {
	line-height: 1.1em;
	font-size: 75%; 
	padding: 4px }

a.mail:link {
	color: #0000ff;
	background-color: transparent;
	text-decoration: none;
	font-weight: 600 }

/* Horizontal Menu Bar */