iframe#testcase-discovery-anchor {
    display: none;
}

div#testcase-discovery-direct-addr {
    display: none;
    font-size: 13px;
}

div#testcase-discovery-direct-addr span:last-of-type {
    font-family: monospace;
}
