div#testcase-discovery-direct-addr,
div#testcase-discovery-direct-addr i {
    display: none;
}

div#testcase-discovery-direct-addr span:last-of-type,
div#testcase-discovery-direct-addr i {
    font-family: monospace;
}

div#testcase-discovery-direct-addr {
    font-size: 13px;
}
