code#error-stack-trace {
    display: block;
    width: 800px;
    height: 600px;
    padding: 5px;
    overflow-y: scroll;
    border: 1px solid black;
    background-color: rgb(200, 200, 200);
    font: normal 10pt monospace;
}
