pre#error-stack-trace {
    display: block;
    width: 1000px;
    height: 800px;
    padding: 5px;
    overflow: scroll;
    border: 1px solid black;
    background-color: rgb(220, 220, 220);
    font: normal 8pt monospace;
    white-space: pre;
}
