div#testcase-info {
    float: left;
}

div#testcase-desc {
    width: 695px;
}

div#testcase-desc div > div {
    margin: 15px;
}

div#testcase-results {
    width: 430px;
    margin-left: 15px;
    float: left;
}

div#testcase-results-header {
    margin-left: 70px;
}

.ui-accordion-content {
    font-family: "Tahoma", sans-serif;
    font-size: 11px;
}

.has-error {
    width: 640px;
}
