<?xml version="1.0" encoding="UTF-8"?>
<configuration
    debug="false"
    scan="true"
    scanPeriod="5 seconds"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://github.com/enricopulatzo/logback-XSD/raw/master/src/main/xsd/logback.xsd">
    
    <contextName>%{project.artifactId}</contextName>
    
    <include resource="core/logback-core.xml"/>
</configuration>