address=
digest=sha1
keyBits=1024
validityDays=365
dnSection=
name=

[ca]
default_ca=ca_default

[ca_default]
default_bits=${ENV::keyBits}
default_days=${ENV::validityDays}
default_md=${ENV::digest}
preserve=no

[req]
default_bits=${ENV::keyBits}
default_days=${ENV::validityDays}
default_md=${ENV::digest}
distinguished_name=${ENV::dnSection}
encrypt_key=no
prompt=no

[dn_ca]
C=US
O=${ENV::name}
CN=${ENV::name}

[dn_cert]
emailAddress=${ENV::address}
C=US
O=${ENV::name}
CN=${ENV::name}

[ext_ca]
authorityKeyIdentifier=keyid, issuer
basicConstraints=CA:true
subjectKeyIdentifier=hash

[ext_cert]
authorityKeyIdentifier=keyid, issuer
basicConstraints=CA:false
subjectAltName=email:copy
subjectKeyIdentifier=hash

[ext_cert_domain]
authorityKeyIdentifier=keyid, issuer
basicConstraints=CA:false
subjectAltName=email:copy,DNS:${ENV::address}
subjectKeyIdentifier=hash

[ext_req]
