<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<header>
		<result forceReloadCheck="true">
			<nodeCombiner config-class="org.apache.commons.configuration.tree.OverrideCombiner"/>
			<expressionEngine config-class="org.apache.commons.configuration.tree.xpath.XPathExpressionEngine"/>
		</result>
	</header>
	
	<override>
		<!-- DNS record configuration -->
		<xml fileName="data/dns/a.xml" throwExceptionOnMissing="true" config-name="dns-a" config-at="dns" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		<xml fileName="data/dns/cname.xml" throwExceptionOnMissing="true" config-name="dns-cname" config-at="dns" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		<xml fileName="data/dns/mx.xml" throwExceptionOnMissing="true" config-name="dns-mx" config-at="dns" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		<xml fileName="data/dns/ns.xml" throwExceptionOnMissing="true" config-name="dns-ns" config-at="dns" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		<xml fileName="data/dns/soa.xml" throwExceptionOnMissing="true" config-name="dns-soa" config-at="dns" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		<xml fileName="data/dns/srv.xml" throwExceptionOnMissing="true" config-name="dns-srv" config-at="dns" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		
		<!-- Data configuration -->
		<xml fileName="data/domains.xml" throwExceptionOnMissing="true" config-name="domains" config-at="domains" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		<xml fileName="data/entries.xml" throwExceptionOnMissing="true" config-name="entries" config-at="entries" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		<xml fileName="data/ldap.xml" throwExceptionOnMissing="true" config-name="ldap" config-at="ldaps" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		<xml fileName="data/settings.xml" throwExceptionOnMissing="true" config-name="settings" config-at="settings" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		
		<!-- Base utility configuration -->
		<!-- TODO: remove if unused -->
		<xml fileName="data/utils.xml" throwExceptionOnMissing="true" config-name="utils">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
	</override>
	
	<additional>
		<!-- Utility configuration -->
		<xml fileName="utils/${util:name}/${util:name}.xml" throwExceptionOnMissing="true" config-name="${util:name}" config-at="${util:name}" schemaValidation="true">
			<reloadingStrategy refreshDelay="1000" config-class="org.apache.commons.configuration.reloading.FileChangedReloadingStrategy"/>
		</xml>
		
		<!-- Configuration Generator configuration -->
		<properties fileName="utils/configgen/config/config.properties" throwExceptionOnMissing="true" config-name="configgen-base-config"/>
		<properties fileName="utils/configgen/config/email.properties" throwExceptionOnMissing="true" config-name="configgen-base-email"/>
	</additional>
</configuration>