<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration
	debug="false"
	threshold="all"
	xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<!--==================================================
	= APPENDERS: CONSOLE
	===================================================-->
	<appender name="consoleApp" class="org.apache.log4j.ConsoleAppender">
		<param name="encoding" value="UTF-8"/>
		<param name="immediateFlush" value="true"/>
		<param name="target" value="System.out"/>
		<param name="threshold" value="all"/>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n"/>
		</layout>
	</appender>
	
	<!--==================================================
	= APPENDERS: FILE
	===================================================-->
	<appender name="fileApp" class="org.apache.log4j.rolling.RollingFileAppender">
		<param name="append" value="true"/>
		<param name="bufferedIO" value="false"/>
		<param name="encoding" value="UTF-8"/>
		<param name="immediateFlush" value="true"/>
		<param name="threshold" value="all"/>

		<rollingPolicy class="org.apache.log4j.rolling.TimeBasedRollingPolicy">
			<param name="fileNamePattern" value="${dcdt.utils.log.dir}/${dcdt.utils.log.file.name.base}.%d{yyyy-MM-dd}.log"/>
		</rollingPolicy>
		
		<triggeringPolicy class="org.apache.log4j.rolling.SizeBasedTriggeringPolicy">
			<param name="maxFileSize" value="10485760"/>
		</triggeringPolicy>

		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} [%C %t] %p - %m%n"/>
		</layout>
	</appender>
	
	<!--==================================================
	= LOGGERS: DEPENDENCIES
	===================================================-->
	<logger name="jdbm" additivity="false">
		<level value="warn"/>
		<appender-ref ref="consoleApp"/>
		<appender-ref ref="fileApp"/>
	</logger>
	<logger name="org.apache" additivity="false">
		<level value="warn"/>
		<appender-ref ref="consoleApp"/>
		<appender-ref ref="fileApp"/>
	</logger>
	<logger name="org.nhind" additivity="false">
		<level value="all"/>
		<appender-ref ref="consoleApp"/>
		<appender-ref ref="fileApp"/>
	</logger>
	<logger name="org.nhindirect" additivity="false">
		<level value="all"/>
		<appender-ref ref="consoleApp"/>
		<appender-ref ref="fileApp"/>
	</logger>
	
	<!--==================================================
	= LOGGERS: PROJECT
	===================================================-->
	<logger name="gov.hhs.onc.dcdt" additivity="false">
		<level value="all"/>
		<appender-ref ref="consoleApp"/>
		<appender-ref ref="fileApp"/>
	</logger>
	
	<!--==================================================
	= LOGGERS: DEFAULT
	===================================================-->
	<!--========== CONSOLE ==========-->
	<logger name="console" additivity="false">
		<level value="all"/>
		<appender-ref ref="consoleApp"/>
	</logger>
	<!--========== FILE ==========-->
	<logger name="file" additivity="false">
		<level value="all"/>
		<appender-ref ref="fileApp"/>
	</logger>
	<!--========== ROOT ==========-->
	<root>
		<level value="info"/>
		<appender-ref ref="consoleApp"/>
		<appender-ref ref="fileApp"/>
	</root>
</log4j:configuration>