<?xml version="1.0" encoding="UTF-8"?>
<settings>
	<setting config-class="gov.hhs.onc.dcdt.utils.beans.Setting"
		id="1"
		name="MDNAutoResponse"
		value="true"/>
	
	<setting config-class="gov.hhs.onc.dcdt.utils.beans.Setting"
		id="2"
		name="RawMessageSaveFolder"
		value="${util:rawMailDir}"/>
	
	<setting config-class="gov.hhs.onc.dcdt.utils.beans.Setting"
		id="3"
		name="IncomingMessageSaveFolder"
		value="${util:inMailDir}"/>
	
	<setting config-class="gov.hhs.onc.dcdt.utils.beans.Setting"
		id="4"
		name="OutgoingMessageSaveFolder"
		value="${util:outMailDir}"/>
	
	<setting config-class="gov.hhs.onc.dcdt.utils.beans.Setting"
		id="5"
		name="BadMessageSaveFolder"
		value="${util:badMailDir}"/>
</settings>