.medFont {
	font-size: .7em }
/*.textFont{
    font-family:"Times New Roman";
	font-size: .9em */
	
}
.textTop {
	font-size: .9em;
	line-height: .1em;
	 }
.textEmail {
	font-size: 1.2em;
    font-family:"Times New Roman";
	margin: 0px 0px 0px 170px;


  /*  text-align: right; */
 }
	
.blue {
	/**background: #58ACFA;**/
	background: #049cdb;
}
.warning {
	line-height: 1.1em;
	font-size: 75%; 
	padding: 4px }

a.mail:link {
	color: #0000ff;
	background-color: transparent;
	text-decoration: none;
	font-weight: 600 }